/public/.htaccess
.env
.env.backup
.phpunit.result.cache
/.idea
/.vscode
/node_modules
/vendor
/public/*
/storage/*.key
/storage/framework/views/*
/vendor
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
public/*
yarn-error.log
/resources/views/emails/
