@import "tailwindcss";
@plugin "daisyui";
@import "tw-animate-css";


@plugin "daisyui" {
    themes:  dark --default, nord --prefersdark, lux;
}
@plugin "daisyui/theme" {
    name: "lux";
    default: true;
    prefersdark: true;
    color-scheme: "dark";
    --color-background: rgb(31, 41, 45);
    --color-base-100: rgb(115, 109, 102);
    --color-base-200: rgb(68, 51, 39);
    --color-base-300: rgb(0, 0, 0);
    --color-base-content: rgb(255, 244, 187);
    --color-primary: rgb(56, 98, 141);
    --color-primary-content: rgb(238, 234, 227);
    --color-secondary: rgb(99, 117, 134);
    --color-secondary-content: rgb(230, 228, 220);
    --color-accent: rgb(53, 108, 147);
    --color-accent-content: rgb(225, 225, 220);
    --color-neutral: rgb(72, 89, 112);
    --color-neutral-content: rgb(255, 239, 197);
    --color-info: rgb(75, 120, 164);
    --color-info-content: rgb(232, 232, 239);
    --color-success: rgb(80, 200, 120);
    --color-success-content: rgb(15, 40, 25);
    --color-warning: rgb(255, 200, 100);
    --color-warning-content: rgb(45, 40, 20);
    --color-error: rgb(220, 120, 100);
    --color-error-content: rgb(40, 25, 20);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

/*@plugin "daisyui/theme" {
    name: "lux";
    default: true;
    prefersdark: true;
    color-scheme: "dark";
    --color-background: rgb(70, 65, 65);
    --color-base-100: rgb(232, 223, 210);
    --color-base-200: rgb(222, 216, 202);
    --color-base-300: rgb(243, 237, 234);
    --color-base-content: rgb(51, 30, 24);
    --color-primary: rgb(227, 231, 236);
    --color-primary-content: rgb(79, 91, 91);
    --color-secondary: rgb(99, 117, 134);
    --color-secondary-content: rgb(220, 225, 230);
    --color-accent: rgb(75, 85, 115);
    --color-accent-content: rgb(225, 225, 220);
    --color-neutral: rgb(50, 60, 80);
    --color-neutral-content: rgb(255, 239, 197);
    --color-info: rgb(100, 180, 255);
    --color-info-content: rgb(25, 35, 65);
    --color-success: rgb(80, 200, 120);
    --color-success-content: rgb(15, 40, 25);
    --color-warning: rgb(255, 200, 100);
    --color-warning-content: rgb(45, 40, 20);
    --color-error: rgb(220, 120, 100);
    --color-error-content: rgb(40, 25, 20);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}*/

@plugin "daisyui/theme" {
    name: "nord";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-background: rgb(180, 203, 229);
    --color-base-100: rgb(209, 225, 246);
    --color-base-200: rgb(183, 204, 232);
    --color-base-300: rgb(193, 209, 234);
    --color-base-content: rgb(12, 19, 33);
    --color-primary: rgb(95, 130, 180);
    --color-primary-content: rgb(245, 242, 239);
    --color-secondary: rgb(130, 160, 190);
    --color-secondary-content: rgb(220, 225, 235);
    --color-accent: rgb(140, 180, 220);
    --color-accent-content: rgb(228, 228, 236);
    --color-neutral: rgb(137, 173, 211);
    --color-neutral-content: rgb(43, 47, 54);
    --color-info: rgb(90, 158, 201);
    --color-info-content: rgb(225, 222, 232);
    --color-success: rgb(120, 200, 140);
    --color-success-content: rgb(20, 40, 25);
    --color-warning: rgb(235, 200, 120);
    --color-warning-content: rgb(40, 35, 15);
    --color-error: rgb(222, 88, 73);
    --color-error-content: rgb(25, 15, 15);
    --radius-selector: 1rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "caramellatte";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: rgb(252, 251, 248);
    --color-base-200: rgb(245, 240, 235);
    --color-base-300: rgb(230, 220, 210);
    --color-base-content: rgb(120, 90, 70);
    --color-primary: rgb(105, 105, 105);
    --color-primary-content: rgb(255, 255, 255);
    --color-secondary: rgb(80, 60, 50);
    --color-secondary-content: rgb(230, 220, 210);
    --color-accent: rgb(140, 110, 90);
    --color-accent-content: rgb(230, 220, 210);
    --color-neutral: rgb(160, 120, 100);
    --color-neutral-content: rgb(252, 251, 248);
    --color-info: rgb(70, 90, 180);
    --color-info-content: rgb(230, 220, 210);
    --color-success: rgb(80, 140, 100);
    --color-success-content: rgb(230, 220, 210);
    --color-warning: rgb(240, 190, 80);
    --color-warning-content: rgb(120, 100, 80);
    --color-error: rgb(215, 102, 74);
    --color-error-content: rgb(110, 90, 70);
    --radius-selector: 2rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 2px;
    --depth: 1;
    --noise: 1;
}

.b1 {
    @apply border border-orange-700;
}

.bg-custom-background {
    background-color: var(--color-background);
}

[data-theme="lux"] {
    html {
        background-color: var(--color-background) !important;
    }
    body {
        background-color: var(--color-background) !important;
    }
    .navbar {
        background-color: #1f1710;
    }
    .container {
        @apply border-zinc-600;
    }
    .step {
        @apply bg-red-100 text-base;
    }
    .input {
        @apply bg-base-100 text-base;
    }
    .fieldset-legend {
        @apply font-bold text-sm;
    }
    .label {
        @apply text-base-content text-sm;
    }

}

[data-theme="nord"] {
    html {
        background-color: var(--color-background) !important;
    }
    body {
        background-color: var(--color-background) !important;
    }
    .navbar {
        background-color: #507e90;
    }
    .container {
        @apply !border-zinc-400;
    }
    .input {
        @apply bg-base-100 text-base;
    }
    .fieldset-legend {
        @apply text-base-content font-bold text-base;
    }
    .label {
        @apply text-base-content text-sm;
    }

}

/* some daisyui tweaks for these themes */
.modal-box {
    @apply border border-zinc-600;
}
.tab-active {
    @apply bg-secondary font-bold hover:text-lg !bg-neutral;
}
.tab {
    @apply bg-secondary text-primary-content ml-2 hover:font-bold border-b-0;
}
